{% style %}
  #cst__jm__reviews .jdgm-widget-actions-wrapper, #cst__jm__reviews .jdgm-row-search, #cst__jm__reviews .jdgm-histogram {
    display:none !important;
  }

{% endstyle %}

<section id="cst__jm__reviews" class="section border-top
  section-id-{{ section.id }}
  {% if section.settings.alternate_bg_color %}use-alt-bg full-width-section{% endif %}
">
  <div class="container">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: all_products['product-1-50ml'] %}
  </div>
</section>

{% schema %}
  {
    "name": "Judge.me Custom OS",
    "settings": [
      {
        "type": "checkbox",
        "id": "alternate_bg_color",
        "label": "Use alternate section color",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Judge.me Custom OS",
        "category": "Advanced"
      }
    ]
  }
{% endschema %}