<div class="squarelovin-container">
	<script id='sqln-5fce5d02976e378c197b23c7' type='text/javascript' data-stream='5fce5d02976e378c197b23c7'>
		(function() {
          if (window.location.href.indexOf("aveandyou.com/en") > -1 || window.location.href.indexOf("en.aveandyou") > -1) {
			var lang = 'en';
		}
			else {
			var lang = 'de';
			}
			var s  	 = document.createElement('script');
			s.type   = 'text/javascript';
			s.async  = true;
			s.src    = 'https://squarelovin.com/squarelovin.js?stream=5fce5d02976e378c197b23c7&t=main&l=' + lang + '&u=' + location.href;
			var sc   = document.getElementsByTagName('script')[0]; sc.parentNode.insertBefore(s, sc);
		})();
	</script>
</div>


{% schema %}
  {
    "name": "SquareLovin_community",
    "settings": [],
    "presets":[
       {
        "name": "SquareLovin_community",
        "category": "Content"
        }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
