.image-with-text__text.align-left.cc-animate-init.-in.cc-animate-complete {
    padding: 0 10px;
}
.localization #CurrencyBtn {
  border: none;
  font-weight: 300;
}
.localization #CurrencyBtn span img,
#CountryList li a img{
  vertical-align: middle;
}
.localization.localization--mobile {
  margin-top: 35px;
}
#CountryList .en_de__option, #CountryList .en_de__option-separator {
  color: #767676;
  font-size: .85rem;
}
#CountryList {
  width: 100%;
  overflow-x: hidden;
  min-width: 265px;
  padding: 6px;
}
#CountryList_divider {
  border: 1px solid #d1d1d1;
}
#CountryList li {
  list-style: none;
  padding-bottom: 7px;display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
#CountryList_input {
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid #d1d1d1;
  margin-bottom: 10px;
}