/* @font-face {
    font-family: 'Grtsk Zetta';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url("GrtskZetta.otf") format('otf'), url("GrtskZetta.ttf") format('ttf'), url("GrtskZetta.woff") format('woff'), url("GrtskZetta.woff2") format('woff2');
} */
@font-face {
  font-family: 'AE-Apercu';
  src: url("https://cdn.shopify.com/s/files/1/0057/5268/4611/files/ApercuRegular.ttf?v=1692963745") format('ttf'),
    url("https://cdn.shopify.com/s/files/1/0057/5268/4611/files/ApercuRegular.woff?v=1692963746") format('woff'),
    url("https://cdn.shopify.com/s/files/1/0057/5268/4611/files/ApercuRegular.woff2?v=1692963746") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AE-Apercu';
  src: url("https://cdn.shopify.com/s/files/1/0057/5268/4611/files/ApercuBold.ttf?v=1692963746") format('ttf'),
    url("https://cdn.shopify.com/s/files/1/0057/5268/4611/files/ApercuBold.woff?v=1692963745") format('woff'),
    url("https://cdn.shopify.com/s/files/1/0057/5268/4611/files/ApercuBold.woff2?v=1692963746") format('woff2');
  font-weight: bold;
  font-style: normal;
}

#page-wrap-inner {
  min-height: unset;
}

.qtnr__page_container * {
  font-family: "AE-Apercu", sans-serif;
}
.qtnr__page_container {
  /* background: rgb(244 222 222); */
  background: transparent;
  padding: 10px 15px;
  margin-top: 50px;
}
.qtnr__page_header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.qtnr__page_nav_back {
  display: inline-block;
  /* position: absolute; */
  left: 0;
  top: 50%;
  outline: 0;
  border: 0;
  /* transform: translateY(-50%); */
  background: transparent!important;
  margin-right: 30px;
  flex: 1;
  padding: 0;
}
.qtnr__page_nav_back svg {
  display: block;
  width: 20px;
  height: 20px;
  color: #676161;
}
.qtnr__page_logo__contianer {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.qtnr__page_logo {
  width: 175px;
}
.qtnr__main_container {
  width: 90%;
  margin: 0 5%;
  /* padding: 20px 0; */
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
  overflow-y: hidden;
  overflow-x: hidden;
}
.qtnr__question {
  text-align: center;
  top: 0;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  grid-row-start: 1;
  grid-column-start: 1;
}
.qtnr__question.q_slide_right {
	animation: q_slide_right .5s ease-out forwards;
}
.qtnr__question.q_slide_further_right {
	animation: q_slide_further_right .5s ease-out forwards;
}
.qtnr__question.q_slide_left {
	/* animation: q_slide_left .5s ease-in forwards; */
    animation: q_slide_left 1s ease forwards;
}
.qtnr__question.q_slide_further_left {
	/* animation: q_slide_further_left .5s ease-out forwards; */
    animation: q_slide_further_left 1.5s ease forwards;
}
/*
.qtnr__question.q_slide_left {
	animation: q_slide_left 1s ease forwards;
}
.qtnr__question.q_unslide_left {
	animation: q_unslide_left 1s ease forwards;
}
.qtnr__question.q_slide_further_left {
	animation: q_slide_further_left 1s ease forwards;
}
.qtnr__question.q_unslide_further_left {
	animation: q_unslide_further_left 1s ease forwards;
} */
.qtnr__question__image {
  max-width: 30px;
  margin-bottom: 15px;
}
.qtnr__question__main {
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: "AE-Apercu", sans-serif;
  color: #F1BF9F;
  /* transform: scale(.8, 1.1); */
}
.qtnr__question__desc {
  font-size: .7rem;
  font-weight: 400;
  line-height: 20px;
  font-family: "AE-Apercu", sans-serif;
  color: #222;
  margin-top: 20px;
}
.qtnr__answer__choice_counter {
  margin: 45px;
}
.qtnr__error_msg {
  font-weight: 400;
  font-family: "AE-Apercu", sans-serif;
  color: red;
  display: none;
}
.qtnr__popup_details__btn {
  background: transparent;
  margin-top: 30px;
  border: 0;
}
.qtnr__popup_details__btn:hover, .qtnr__popup_details__btn:focus {
  background: transparent;
}
.qtnr__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.qtnr__navigation__prev, .qtnr__navigation__next {
  cursor: pointer;
  font-weight: 700;
  margin-top: 15px;
}
.qtnr__navigation__next {
  padding: 10px;
  background: #2D2D2D;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "AE-Apercu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 250px;
  margin: 0 auto;
}
.qtnr__navigation__next svg {
  fill: #fff;
}
.qtnr__navigation__disabled {
  /* color: #727272; */
  display: none;
}
@keyframes q_fade_in {
  100% {
    opacity: 1;
  }
}
@keyframes q_fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes q_slide_further_right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(300%);
  }
}
@keyframes q_slide_right {
  0% {
      transform: translateX(-300);
  }

  10% {
      opacity: 0.2;
      transform: translateX(-150%);
  }

  20% {
      opacity: 0.3;
  }

  30% {
      opacity: 0.4;
  }

  40% {
      opacity: 0.5;
  }

  50% {
      opacity: 0.6;
  }

  100% {
      transform: translateX(0%);
      opacity: 1;
  }
}
@keyframes q_slide_left {
  0% {
      transform: translateX(300%);
      opacity: 0;
  }

  30% {
      opacity: 0.1;
  }

  40% {
      opacity: 0.2;
  }

  50% {
      opacity: 0.3;
  }

  60% {
      opacity: 0.4;
  }

  70% {
      opacity: 0.5;
  }

  80% {
      opacity: 0.6;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes q_slide_further_left {
  0% {
      transform: translateX(0);
      opacity: 1;
  }

  10% {
      opacity: 0.6;
  }

  20% {
      opacity: 0.5;
  }

  30% {
      opacity: 0.4;
  }

  40% {
      opacity: 0.3;
  }

  50% {
      opacity: 0.2;
      transform: translateX(-150%);
  }

  100% {
      transform: translateX(-300%);
      opacity: 0;
  }
}
@keyframes q_unslide_further_left {
	0% {
		transform: traslateX(-300%);
	}

	50% {
		transform: translateX(-200%);
	}

	100% {
		transform: translateX(0);
	}
}
@media only screen and (min-width: 768px) {
  .qtnr__main_container {
    width: 1024px;
    margin: 0 auto 30px;
  }
  .qtnr__question {
    /* width: 768px; */
    width: 85%;
    margin: 30px auto 0;
  }
  .qtnr__question:has([data-question-type=multiple]) {
    width: 1024px;
    margin: 30px auto 0;
  }
  .qtnr__question__main {
    font-size: 1.2rem;
    line-height: 35px;
  }
  .qtnr__question__desc {
    font-size: .9rem;
    line-height: 25px;
  }
  .qtnr__navigation {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .qtnr__question__image {
    max-width: 50px;
  }
}

/* CHOICES */
.qtnr__answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
}
.qtnr__answer input {
  width: 300px;
  margin: 0 auto 15px;
  outline: none;
  height: 55px;
  font-size: 1.1rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #868686;
  text-align: center;
}
.qtnr__answer [data-question-id=phoneNumber] input {
  text-align: left;
}
.qtnr__answer__creamLabel {
  justify-content: center;
  align-items: center;
  position: relative;
}
.qtnr__answer__creamLabel .qtnr__answer__choice__img,
.qtnr__answer__creamLabel .qtnr__answer__choice__img__alternate{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.qtnr__answer__creamLabel .qtnr__answer__choice__img img {
  width: 300px;
}
.qtnr__answer__creamLabel .qtnr__answer__choice__img__alternate img {
  width: 400px;
}
.qtnr__answer__creamLabel .qtnr__answer__creamLabel__label {
  width: 120px!important;
  font-family: RunWild;
  position: static;
  margin-top: -125px;
  font-size: 1.8rem;
  margin-left: 160px;
  text-align: left;
}
.qtnr__answer__creamLabel .qtnr__answer__creamLabel__label__alternate {
  width: 120px!important;
  font-family: RunWild;
  position: static;
  margin-top: -75px;
  font-size: 1.3rem;
  text-align: left;
  margin-right: 100px;
}
.qtnr__answer__creamLabel input {
  outline: 0;
  width: 300px!important;
  margin-top: 100px;
  margin-bottom: 0!important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #868686;
  text-align: center;
}
.qtnr__answer__choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer;
  font-size: 1rem;
  /* border: 1px solid #000; */
  border: 1px solid rgba(55, 55, 54, 0.1);
  transition: 0.7s;
}
.qtnr__answer__choice:hover {
  border: 1px solid rgba(55, 55, 54, 1);
  transition: 0.7s;
}

.qtnr__answer__choice__text {
  display: flex;
  flex-direction: column;
}
.qtnr__answer__choice__desc {
  color: #37373680;
}
.qtnr__answer__choice__text {
  text-align: center;
}
.qtnr__page_container__arabic .qtnr__answer__choice__text * {
  direction: rtl;
  text-align: right;
}
.qtnr__answer__choice[data-question-type="disclaimer"] {
  border: 0;
}
.qtnr__answer__choice[data-question-type="multiple"] {
  flex-direction: row;
  justify-content: flex-start;
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__text {
  flex-direction: row;
  text-align: left;
  align-items: center;
  gap: 15px;
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox {
  overflow: hidden;
  position: relative;
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  border: 2px solid #585858;
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__unchecked::before,
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__unchecked::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 1px solid rgb(55, 55, 54);
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__unchecked::before {
  left: 1px;
  transform-origin: 0px 0px;
  transform: rotate(45deg);
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__unchecked::after {
  right: 1px;
  transform-origin: 100% 0px;
  transform: rotate(-45deg);
}
/* .qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__checked::before,
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__checked::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 0px;
  border-top: 1px solid rgb(55, 55, 54);
  transition: all 0.15s ease 0s;
  width: 40px;
} */
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__checked::before {
  content: "";
  position: absolute;
  top: 10px;
  margin-left: 3px;
  height: 0px;
  border-top: 4px solid #fff;
  transition: all 0.15s ease 0s;
  width: 10px;
  border-radius: 100px;
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__checked::after {
  content: "";
  position: absolute;
  top: 4px;
  margin-right: 3px;
  height: 0px;
  border-top: 4px solid #fff;
  transition: all 0.15s ease 0s;
  width: 20px;
  border-radius: 100px;
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__checked::before {
  left: 1px;
  transform-origin: 0px 0px;
  transform: rotate(45deg);
}
.qtnr__answer__choice__no_checkbox[data-question-type=multiple] {
  justify-content: center;
  padding: 0 5px;
}
.qtnr__answer__choice[data-question-type="multiple"] .qtnr__answer__choice__checkbox.qtnr__answer__choice__checkbox__checked::after {
  right: 1px;
  transform-origin: 100% 0px;
  transform: rotate(-45deg);
  transition-delay: 0.2s;
}
.qtnr__answer__choice[data-answer-image="true"] {
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}
.qtnr__answer__choice[data-answer-image=true] .qtnr__answer__choice__img,
.qtnr__answer__choice[data-answer-image=true] .qtnr__answer__choice__img__alternate,{
  /* flex: 1.5; */
  width: 123px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: auto;
}
.qtnr__answer__choice[data-answer-image=true] .qtnr__answer__choice__img img,
.qtnr__answer__choice[data-answer-image=true] .qtnr__answer__choice__img__alternate img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.qtnr__answer__choice[data-answer-image=true] .qtnr__answer__choice__text {
  flex: 2;
  text-align: left;
}
.qtnr__answer__choice[data-answer-image=true] .qtnr__answer__choice__desc {
  font-size: .8rem;
}
div[data-question-id="pigmenttationType"] .qtnr__answer__choice {
  align-items: flex-start;
}
.qtnr__answer__choice__no_border {
  border: 0px;
}
.qtnr__answer__choice__no_border:hover {
  border: 0px;
}
.qtnr__answer__choice__white_bg {
  background: #fff;
}
.qtnr__answer__choice input[type="text"] {
  width: 100%;
}
.qtnr__answer__item.multiple-selected {
  /* background: rgb(197 108 108); */
  /* background: #000; */
  background: #FFE8DA;
  border: 2px solid #F1BF9F;
}
.qtnr__answer__item.multiple-selected .qtnr__answer__choice__checkbox {
  background: #F1BF9F;
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single {
  flex: 100%;
  /* margin-bottom: 15px; */
  flex-grow: 0;
}
.qtnr__answer__item.qtnr__answer__choice__no_checkbox.choice__styling_flex_layout.styling_flex_layout__single {
  flex: 45%;
  /* margin-bottom: 15px; */
  flex-grow: 0;
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single[data-answer-icon="true"] {
  flex: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.qtnr__answer__choice[data-answer-icon=true] .qtnr__answer__choice__text  .qtnr__answer__choice__desc {
  font-size: .8rem;
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__double {
  /* flex: 45%; */
  flex-grow: 0;
}
div[data-question-id="pigmenttationType"] .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__double {
  /* flex: 100%; */
  flex-grow: 0;
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__double:not(:last-child) {
  /* margin-right: 15px; */
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__triple {
  /* flex: 28.33%; */
  flex-grow: 0;
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__triple:not(:last-child) {
  /* margin-right: 15px; */
}
.qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__quadruple {
  /* flex: 25%; */
  flex-grow: 0;
}
.qtnr__answer__choice__main {
  padding: 10px 0;
  font-weight: 500;
  font-family: "AE-Apercu", sans-serif;
  text-align: center;
}
.qtnr__answer__choice__desc {
  font-size: 1rem;
  line-height: 25px;
  text-align: left;
  font-weight: 400;
  font-family: "AE-Apercu", sans-serif;
  text-align: center;
}
.qtnr__answer__item[data-question-type="multiple"] .qtnr__answer__choice__main {
  text-align: left;
}
.qtnr__answer__choice__no_checkbox[data-question-type="multiple"] .qtnr__answer__choice__main {
  text-align: center;
  font-size: .8rem;
  padding: 3px 0;
}
.qtnr__answer__item[data-answer-icon="true"] .qtnr__answer__choice__icon {
  flex: 1;
  padding: 10px;
}
.qtnr__answer__item[data-answer-icon="true"] .qtnr__answer__choice__text {
  flex: 4;
}
.qtnr__answer__item[data-answer-icon="true"] .qtnr__answer__choice__text * {
  text-align: left;
}
.qtnr__answer__choice__boolean {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  border: 0px;
}
.choice__boolean__outer_circle {
  width: 20px;
  height: 20px;
  border: 1px solid #3B607B;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice_boolean__inner_circle.selected {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: rgb(172 111 111);
}
.qtnr__answer__choice__boolean p {
  margin: 0;
  font-weight: 500;
  font-family: "AE-Apercu", sans-serif;
}
.qtnr__answer__choice.qa_slide_up {
	animation: qa_slide_up 2.5s ease-out forwards;
}
@keyframes qa_slide_up {
  0% {
      transform: translateY(300%);
      opacity: 0;
  }

  30% {
      opacity: 0.1;
  }

  40% {
      opacity: 0.2;
  }

  50% {
      opacity: 0.3;
  }

  60% {
      opacity: 0.4;
  }

  70% {
      opacity: 0.5;
  }

  80% {
      opacity: 0.6;
  }

  90% {
      opacity: 0.8;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single {
    /* flex: 35%; */
    flex: 25%;
    min-height: 200px;
    margin-right: 15px;
    /* flex-grow: 0; */
  }
  div[data-question-type="boolean"].qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single {
    flex: 25%;
    flex-grow: 0;
  }
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single[data-answer-icon="true"] {
    flex: 25%;
    flex-direction: column;
    gap: 25px;
    padding: 15px;
    flex-grow: 0;
  }
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single.qtnr__answer__choice__oneliner {
    flex: 20%;
  }
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single.qtnr__answer__choice__twoliner {
    flex: 25%;
    flex-grow: 0;
  }
  div[data-question-id="pigmenttationType"] .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single {
    flex: 100%;
  }
  div[data-question-id="pigmenttationType"] .qtnr__answer__choice__text * {
    text-align: left;
  }
  .qtnr__page_container__arabic div[data-question-id="pigmenttationType"] .qtnr__answer__choice__text * {
    direction: rtl;
    text-align: right;
  }
  .qtnr__answer__item[data-answer-icon=true] .qtnr__answer__choice__icon {
    width: 80px;
  }
  .qtnr__answer__item[data-answer-icon=true] .qtnr__answer__choice__text * {
    text-align: center;
  }
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single[data-question-type="multiple"] {
    flex: 45%;
    min-height: unset;
    flex-grow: 0;
    align-items: center;
  }
  .qtnr__answer__item.qtnr__answer__choice__no_checkbox.choice__styling_flex_layout.styling_flex_layout__single {
    flex: 25%;
    /* margin-bottom: 15px; */
    flex-grow: 0;
  }
  div[data-question-id="faceScan"].qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single {
    flex: 100%;
    margin-right: 15px;
    flex-grow: 0;
  }
  div[data-question-id="faceScan"] .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__single {
    flex: 100%;
  }
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__double {
    /* flex: 45%; */
    margin-right: 15px;
    flex-grow: 0;
  }
  /* .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__double:not(:last-child) {
    margin-right: 15px;
  } */
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__triple {
    /* flex: 25%; */
    margin-right: 15px;
    flex-grow: 0;
  }
  div[data-question-id="urbanEnvironment"] .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__triple {
    flex: 25%;
    flex-grow: 0;
  }
  .qtnr__answer__item.choice__styling_flex_layout.styling_flex_layout__quadruple {
    /* flex: 15%; */
    margin-right: 15px;
    flex-grow: 0;
  }
  .qtnr__answer__creamLabel .qtnr__answer__creamLabel__label__alternate {
    margin-top: -120px;
    font-size: 1.8rem;
    margin-right: 230px;
  }
}

/* END SCREEN */
.qtnr__endscreen__pdp_btn {
  margin: 0 auto;
}



/* MORE RESULT SLIDER */
.popup_details {
	height: 80%;
	position: fixed;
	bottom: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	right: 0;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 3;
	width: 100%;
	box-shadow: 0 0 12px #353535;
    font-family: "AE-Apercu", sans-serif;
}
.popup_details.slide_down {
	animation: slide-down 1s ease forwards;
}
.popup_details.slide_up {
	animation: slide-up 1s ease forwards;
}
.popup_details__x {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 15px;
	cursor: pointer;
}
.popup_details__x svg {
	width: 26px;
	height: 26px;
}
.popup_details__tabcontent {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 15px;
	overflow-y: scroll;
}
.popup_details__subsection {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}
.popup_details__subsection__shaded {
  background: #eee;
}
.popup_details__subsection__header {
  font-weight: 500;
  padding: 15px 0;
  font-family: "AE-Apercu", sans-serif;
}
.popup_details__subsection__list {
  display: flex;
  flex-direction: column;
  font-family: "AE-Apercu", sans-serif;
}
.popup_details__subsection__list_item {
  font-size: .9rem;
  font-family: "AE-Apercu", sans-serif;
}
@keyframes slide-down {
	0% {
		transform: translateY(0);
		height: 700;
	}

	25% {
		transform: translateY(100%);
		height: 450;
	}

	50% {
		transform: translateY(200%);
		height: 300;
	}

	75% {
		transform: translateY(300%);
		height: 150;
	}

	100% {
		transform: translateY(1500%);
		height: 0;
	}
}
@keyframes slide-up {
	0% {
		transform: translateY(200%);
		height: 80%;
	}

	100% {
		transform: translateY(0);
		height: 80%;
	}
}
@media only screen and (min-width: 768px) {
  .popup_details {
      width: 50%;
  	height: 100%!important;
  }
  @keyframes slide-up {
	0% {
		transform: translateX(200%);
		height: 80%;
	}

	100% {
		transform: translateY(0);
		height: 80%;
	}
  }
}








/* DISCLAIMER */
.qtnr__disclaimer * {
  font-family: "AE-Apercu", sans-serif;
  font-size: .8rem;
}
.qtnr__disclaimer h6 * {
  cursor: pointer;
}
.qtnr__disclaimer__text {
  background: #FFEEE3;
  color: #585858;
  padding: 12px;
  line-height: 16px;
  min-height: 0;
  animation: fadeIn .3s ease forwards;
}
.qtnr__disclaimer__text__hidden {
  animation: fadeOut .3s ease forwards;
}
@keyframes fadeIn {
  0% {
    height: 0%;
    max-height: 0px;
    opacity: 0;
  }
  25% {
    height: 25%;
    max-height: 50px;
    opacity: 0.25;
  }
  50% {
    height: 50%;
    max-height: 100px;
    opacity: 0.50;
  }
  75% {
    height: 75%;
    max-height: 150px;
    opacity: 0.75;
  }
  100% {
    height: 100%;
    max-height: 200px;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    height: 100%;
    max-height: 200px;
    opacity: 1;
  }
  25% {
    height: 75%;
    max-height: 150px;
    opacity: 0.75;
  }
  50% {
    height: 50%;
    max-height: 100px;
    opacity: 0.50;
  }
  75% {
    height: 25%;
    max-height: 50px;
    opacity: 0.25;
  }
  100% {
    height: 0%;
    max-height: 0px;
    opacity: 0;
  }
}
@media only screen and (min-width: 768px) {
  .qtnr__disclaimer__text {
    padding: 20px;
  }
}







/* ANSWER PRESENTATION */
/*
==========================
SLIDES PRESENTATION START
==========================
*/
.qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}
.qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item {
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 0;
  grid-row-start: 1;
  grid-column-start: 1;
  position: relative;
  padding: 0 30px;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item.a_slide_right {
	animation: a_slide_right .5s ease-in-out forwards;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item.a_slide_further_right {
	animation: a_slide_further_right .5s ease-in-out forwards;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item.a_slide_left {
    animation: a_slide_left .5s ease-in-out forwards;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item.a_slide_further_left {
    animation: a_slide_further_left .5s ease-in-out forwards;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item:hover {
  border: 0;
}
.qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item .qtnr__answer__choice__img,
.qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item .qtnr__answer__choice__img__alternate{
  width: 100%;
  height: 300px;
}
.qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item .qtnr__answer__choice__text {
  margin-bottom: 10px;
  margin-top: -100px;
  border-radius: 25px 25px 0;
  padding: 0 10px;
  background: #FFF;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item .qtnr__answer__choice__text
.qtnr__answer__choice__main {
  text-align: left;
  color: #F1BF9F;
  font-size: .9rem;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item .qtnr__answer__choice__text
.qtnr__answer__choice__desc {
  text-align: left;
  color: #585858;
  font-size: .7rem;
  line-height: 16px;
}
.qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item__slide__navs {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
} .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item__slide__navs button {
  background: transparent;
  border: transparent;
  padding: 0;
}
.qtnr__answer__item__slide__counter {
  width: 100%;
}
.qtnr__answer__item__slide__counter * {
  color: #F1BF9F;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item {
    max-width: 320px;
    margin: 0 auto;
  }
  .qtnr__question[data-question-answer-presentation="slides"] .qtnr__answer__item .qtnr__answer__choice__text
  .qtnr__answer__choice__desc {
    font-size: .8rem;
    line-height: 18px;
  }
}
@keyframes a_slide_further_right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(600%);
  }
}
@keyframes a_slide_right {
  0% {
      transform: translateX(-600%);
  }

  10% {
      opacity: 0.2;
      transform: translateX(-150%);
  }

  20% {
      opacity: 0.3;
  }

  30% {
      opacity: 0.4;
  }

  40% {
      opacity: 0.5;
  }

  50% {
      opacity: 0.6;
  }

  100% {
      transform: translateX(0%);
      opacity: 1;
  }
}
@keyframes a_slide_left {
  0% {
      transform: translateX(600%);
      opacity: 0;
  }

  30% {
      opacity: 0.1;
  }

  40% {
      opacity: 0.2;
  }

  50% {
      opacity: 0.3;
  }

  60% {
      opacity: 0.4;
  }

  70% {
      opacity: 0.5;
  }

  80% {
      opacity: 0.6;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes a_slide_further_left {
  0% {
      transform: translateX(0);
      opacity: 1;
  }

  10% {
      opacity: 0.6;
  }

  20% {
      opacity: 0.5;
  }

  30% {
      opacity: 0.4;
  }

  40% {
      opacity: 0.3;
  }

  50% {
      opacity: 0.2;
      transform: translateX(-150%);
  }

  100% {
      transform: translateX(-600%);
      opacity: 0;
  }
}
/*
==========================
SLIDES PRESENTATION END
==========================
*/
/*
==========================
RANGE PRESENTATION START
==========================
*/
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer__outer {
  margin-top: 120px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-between;
  padding: 2px 5px;
  border-radius: 100px;
  max-height: 13px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item {
  width: 7px;
  height: 7px;
  background: #D9D9D9;
  border-radius: 100px;
  flex: unset;
  padding: 0;
  min-height: unset;
  margin-right: 0;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item.qtnr__answer__item__selected {
  width: 14px;
  height: 14px;
  margin-top: -4px;
  background: #f1bf9f;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item .qtnr__answer__choice__text {
  position: absolute;
  width: 80px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:first-child .qtnr__answer__choice__text {
  left: 0;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item .qtnr__answer__choice__main {
  font-size: .7rem;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:first-child .qtnr__answer__choice__main {
  align-items: flex-start;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:last-child .qtnr__answer__choice__main {
  align-items: flex-end;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item .qtnr__answer__choice__main .qtnr__answer__choice__range_cord {
  width: 2px;
  background: #DCDCDC;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:first-child .qtnr__answer__choice__main .qtnr__answer__choice__range_cord {
  margin-left: 10px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:last-child .qtnr__answer__choice__main .qtnr__answer__choice__range_cord {
  margin-right: 10px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:nth-child(odd) .qtnr__answer__choice__main .qtnr__answer__choice__range_cord {
  height: 1vh;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:nth-child(even) .qtnr__answer__choice__main .qtnr__answer__choice__range_cord {
  height: 4vh;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:first-child .qtnr__answer__choice__main {
  text-align: left;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:last-child .qtnr__answer__choice__text {
  right: 0;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:last-child .qtnr__answer__choice__main {
  text-align: right;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:nth-child(odd) .qtnr__answer__choice__text {
  top: -60px;
}
.qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item:nth-child(even) .qtnr__answer__choice__text {
  top: -100px;
}
@media only screen and (min-width: 768px) {
  .qtnr__question[data-question-answer-presentation="range"] .qtnr__answer {
    max-height: 16px;
  }
  .qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item {
    width: 10px;
    height: 10px;
  }
  .qtnr__question[data-question-answer-presentation="range"] .qtnr__answer .qtnr__answer__item.qtnr__answer__item__selected {
    width: 20px;
    height: 20px;
    margin-top: -5px;
  }
}
/*
==========================
RANGE PRESENTATION END
==========================
*/






/* PROGRESS BAR */
.qtnr__progress_bar {
  height: 5px;
  border: #eee;
  background: #eee;
  display: flex;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  flex: 12;
}
.qtnr__progress {
  background: #333;
}
.qtnr__progress:first-child {
  /* border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; */
}
.qtnr__progress:last-child {
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */
}










/* PROGRESS BAR */
/*
===============================================
PROGRESS BAR V2 - CATEGORIZED QUESTIONS - START
===============================================
*/
.qtnr__progress_bar_v1 {
  width: 80%;
  display: grid;
  margin: 0 auto 50px;
}
.qtnr__progress_bar {
  grid-row-start: 1;
  grid-column-start: 1;
}
.qtnr__progress_bar .qtnr__progress {
  background: #F1BF9F;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qtnr__progress_bar .qtnr__progress .qtnr__progress__head {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #FFE8DA;
  position: absolute;
  border: 2px solid #F1BF9F;
  margin-top: -8px;
  right: 0;
  display: none;
}
.qtnr__progress_bar .qtnr__progress .qtnr__progress__head__current {
  display: flex;
  justify-content: center;
}
.qtnr__progress_bar .qtnr__progress .qtnr__progress__head__label {
  margin-top: 20px;
  max-width: 100px;
  right: 0;
  text-align: center;
  font-size: .6rem;
  line-height: 13px;
  margin-left: 20px;
  display: none;
  min-width: 100px;
  margin-right: 30px;
}
.qtnr__progress_bar .qtnr__progress .qtnr__progress__head__label__current { 
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .qtnr__progress_bar .qtnr__progress .qtnr__progress__head__label {
    font-size: .9rem;
    line-height: 18px;
    margin-right: 0;
  }
}
/*
===============================================
PROGRESS BAR V2 - CATEGORIZED QUESTIONS - END
===============================================
*/



/*
===============================================
PROGRESS BAR V2 - CATEGORIZED QUESTIONS - START
===============================================
*/
/* .qtnr__progress_bar_v2 {
  width: 100%;
  display: grid;
  margin-bottom: 80px;
}
.qtnr__progress_bar {
  grid-row-start: 1;
  grid-column-start: 1;
}
.qtnr__progress_bar .qtnr__progress {
  background: #F1BF9F;
}
.qtnr__progress_bar .qtnr__progress_bar__progress__progress {
  background: #DCDCDC;
}
.qtnr__progress_bar__catseq__nodes {
  display: flex;
  justify-content: space-between;
  grid-row-start: 1;
  grid-column-start: 1;
}
.qtnr__progress_bar_v2__catseq__node {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #F1BF9F;
  margin-top: -3px;
} */
/*
===============================================
PROGRESS BAR V2 - CATEGORIZED QUESTIONS - END
===============================================
*/